/* Global styles 
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color:black;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 35px;
  margin-top: 0;
  color: blue;
}

.personal-information{
  background-color: #8A2BE2;
}

.personal-background{
  background-color: #9ACD32;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
 
}

.column-narrow, .contact {
  width: 31%;
  float: left;
  padding-left: 5%;

}

.column-wide {
  width: 66%;
  float: left;
 
}

.column-wide.content{
  padding-left: 10%;
  margin-top: 15px;
}

.portfolio{
  width: 35%;
  float: left;
  padding-left: 5%;
}

.address{
  width: 34%;
  float: left;
  padding-left: 10%;
 
}




.topic{
  font-size: 50px;
  color: blue;
}

.date{
  margin: 0;
  font-size: 30px;
}

.word{
  margin: 0;
  font-size: 30px;

}


/* Header & Footer 
------------------------------------*/
header, 
footer {
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header{
  position: relative;
     /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 3px;
  border: 1px solid #ddd;
  padding-left: 1px;
  margin-top: 30px;
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

.img{
  border-radius: 40%;
  width: 15%;
}

.hobby1, .hobby2{
  float: left;
  width: 40%;
  margin-top: 10px;
}

nav{
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F8F8FF ;
}

nav a{
  color: red;
  padding: 7px 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

nav a:hover{
  color:blue;
}

.btn{
  text-decoration: none;
  background-color: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}

.download{
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 900px){
  .experience, .next{
    float: left;
    width: 50%;
  }
  .next{
    padding-left: 17%;
  }

}